---
import Level from "../components/Level.astro";
import {$studyPlan, fetchStudyPlan} from "../stores/studyPlan";
import {type Course} from "../types";

await fetchStudyPlan(1);

const studyPlan = $studyPlan.get();
if (!studyPlan) return;

let currentLevel = 1;
let levels: Map<number, Course[]> = new Map();

while (true) {
    const levelCourses = Object.values(studyPlan.courses).filter(c => c.level === currentLevel);

    if (levelCourses.length === 0) break;

    levels.set(currentLevel, levelCourses);

    currentLevel++;
}
---
<div class="flex flex-col gap-5">
    <div class="flex flex-row gap-8">
        {Array.from(levels.entries()).map(([level, levelCourses]) => (
            <Level
                    key={level}
                    level={level}
                    courses={levelCourses}
            />
        ))}
    </div>
</div>
