---
import Layout from "../layouts/Layout.astro";
import Year from "./Year.astro";
import {$studyPlan, fetchStudyPlan} from "../stores/studyPlan";

await fetchStudyPlan(1);

const studyPlan = $studyPlan.get();
if (!studyPlan) return;

const years = Array.from({length: studyPlan.duration}, (_, i) => i + 1);
const guideCourses = Object.values(studyPlan.guideCourses);
---

<Layout>
    <div class="flex flex-col gap-5">
        <div class="flex flex-row gap-8">
            {years.map((yr) => {
                const yearCourses = guideCourses.filter(c => c.year === yr);
                if (yearCourses.length === 0) return;
                return <Year
                        key={yr}
                        year={studyPlan.startAcademicYear + yr - 1}
                        yearCourses={yearCourses}
                />
            })}
        </div>
    </div>
</Layout>