---
import type {Course} from "../types";
import CourseStickyNote from "./CourseStickyNote.astro";

const {courses} = Astro.props;

const columnCount = courses.length <= 8 ? 8 : Math.ceil(courses.length / 2);
---

<div class="grid grid-flow-col size-fit gap-2" style={`grid-template-rows: repeat(${columnCount}, minmax(0, 1fr));`}>
    {courses.map((course: Course) => (
            <CourseStickyNote {...course} />
    ))}
</div>