---
import {type Course} from "../types";
import CourseStickyNote from "./CourseStickyNote.astro";
const {level, courses} = Astro.props;

const coursesPerColumn = Math.ceil(courses.length / Math.ceil(courses.length / 4)); // Max 4 courses per column
const columns = Math.ceil(courses.length / coursesPerColumn);
const totalCreditHours = courses.reduce((sum: number, course: Course) => sum + course.creditHours, 0);
---

<div class="flex flex-col gap-6 w-full">
    <h2 class="text-center font-semibold opacity-60 text-sm">
        Level {level}
        - {totalCreditHours} Cr.
    </h2>
    <div
            class="grid gap-1"
            style={`grid-template-columns: repeat(${columns}, minmax(200px, 1fr));`}
    >
        {courses.map((course: Course) => (
                <CourseStickyNote {...course} />
        ))}
    </div>
</div>
