---
import Layout from "../layouts/Layout.astro";
import {SemesterType, type GuideCourse} from "../types";
import Semester from "./Semester.astro";

const {year, yearCourses} = Astro.props;
---

<Layout>
    <div class="flex flex-col gap-1">
        <h1 class="font-sketch font-bold text-center text-2xl">{year}/{year + 1}</h1>
        <div class="flex flex-row gap-2">
            {Object.values(SemesterType).map((semester) => {
                const semesterCourses = yearCourses.filter((c: GuideCourse) =>
                    c.semester === semester.toUpperCase()
                );
                if (semesterCourses.length === 0) return;

                return <Semester
                        key={semester}
                        semesterCourses={semesterCourses}
                        semester={semester}
                />
            })}
        </div>
    </div>
</Layout>