---
import Layout from '../layouts/Layout.astro';
import Guide from "../components/Guide.astro";
---

<Layout>
    <div class="h-screen w-full mx-auto">
        <Guide class="text-gray-800" />
    </div>
</Layout>
