---
import Layout from '../layouts/Layout.astro';
import Guide from "../components/Guide.astro";
---

<Layout>
    <div class="h-screen w-full flex justify-center items-start">
        <Guide class="text-gray-800" />
</div>
</Layout>
