---
import Layout from '../layouts/Layout.astro';
import Guide from "../components/Guide.astro";
---

<Layout>
    <div class="h-screen max-w-screen-2xl mx-auto border">
        <Guide class="text-gray-800" />
    </div>
</Layout>
